@import "http://webfonts.ru/import/b20sans.css";
.margin-left-5{
    margin-left: 5px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-30{
    margin-top: 30px;
}
.no-bottom-margin{
    margin-bottom: 0px;
}
.link-like {
    color: #008CBA;
    display: none;
}

label, p {
    font-size:1.4rem;
}

.large-font{
    font-size:1.2rem !important;
}
.icon-font{
    font-size:1.3rem !important;
}
.logo-icon:hover{
    color:red;
}
#footer{
    height:6%;
}
.input-height{
    height:50px;
}
#deer {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
#deer:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.width-100{
    width: 100%;
}

body{
    background-image: url("../images/geometry2.png");
}

.margin-minus-9{
    margin-left: -9px;
}

td{
    font-size: 1.2rem !important;
}

.active{
    background-color: #d49248 ;
}

.news-date {
    font-weight: bold;
}

.subscribed-button {
    display: none;
}