{% extends "base_foundation.html" %}
{% load staticfiles %}

{% block whole_body %}
<div class="row">
      <div class="large-offset-3 medium-offset-3 large-2 medium-2 small-5 columns">
        <a href="#" data-reveal-id="modal-login"><img src="{% static 'images/login.png' %}" alt="For login press on Volun Deer" /></a>
        <a class="margin-minus-9 large-font" href="#" data-reveal-id="modal-register">Зареєструйтеся!</a>
      </div>

        <div id="modal-register" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
           <div class="row text-center">
               <h2>Привіт, ми раді новим знайомствам!</h2>
               <h5>Створивши акаунт, Ви зможете підписуватися на волонтерські проекти швидше, а також багато іншого.</h5>
           </div>
           <form id="signup-form" class="uk-form" method="post" action="{% url 'signup' %}">
               {% csrf_token %}
               <div class="row">
                <div class="large-offset-3 large-6 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-2 large-1 columns">
                      <span class="prefix"><i class="fi-mail large"></i></span>
                    </div>
                    <div class="small-10 large-11 columns">
                      <input class="icon-font input-height" type="text" name="email" placeholder="Введіть ваш email">
                    </div>
                  </div>
                </div>
                </div>

                <div class="row">
                <div class="large-offset-3 large-6 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-2 large-1 columns">
                      <span class="prefix"><i class="fi-key large"></i></span>
                    </div>
                    <div class="small-10 large-11 columns">
                      <input class="icon-font input-height" type="password" name="password" placeholder="Придумайте гарний пароль">
                    </div>
                  </div>
                </div>
                </div>

                <div class="row text-center">
                   <a href="#" id="signup-button" class="button radius">Register</a>
               </div>
           </form>

          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

        <div id="modal-login" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
           <div class="row text-center">
               <h2>Доброго дня!</h2>
           </div>
           <form id="login-form" class="uk-form" method="post" action="{% url 'login' %}">
               {% csrf_token %}
               <div class="row">
                <div class="large-offset-3 large-6 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-2 large-1 columns">
                      <span class="prefix"><i class="fi-mail large"></i></span>
                    </div>
                    <div class="small-10 large-11 columns">
                      <input class="icon-font input-height" type="email" name="username" placeholder="Ваш email">
                    </div>
                  </div>
                </div>
                </div>

                <div class="row">
                <div class="large-offset-3 large-6 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-2 large-1 columns">
                      <span class="prefix"><i class="fi-key large"></i></span>
                    </div>
                    <div class="small-10 large-11 columns">
                      <input class="icon-font input-height" type="password" name="password" placeholder="Пароль">
                    </div>
                  </div>
                </div>
                </div>

                <div class="row text-center">
                   <a href="#" id="login-button" class="button radius">Увійти!</a>
               </div>
           </form>

          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
      <div class="large-2 medium-2 small-5 large-centered medium-centered columns end margin-top-10">
        <a href="#" data-reveal-id="modal-login">
        <img id="deer" src="{% static 'images/logo_project.png' %}" alt="Volun Deer"/>
        </a>
      </div>
    </div>

    <h3 class="text-center margin-top-30">Пошук волонтерських програм:</h3>
    <form>
        <div class="row">
            <div class="large-4 medium-4 small-12 columns">
              <label>Розташування</label>
              <select id="location-select" class="large-font">
                <option selected value="">Всі</option>
                <option value="Київ">Київ</option>
                <option value="Вінниця">Вінниця</option>
                <option value="Львів">Львів</option>
              </select>
            </div>
				    <div class="large-4 medium-4 small-12 columns">
				      <label>Тематика програми</label>
				      <select id="topic-select" class="large-font">
                        <option selected value="">Всі</option>
				        <option value="Допомога престарілим">Допомога престарілим</option>
                        <option value="Допомога тваринам">Допомога тваринам</option>
                        <option value="Тварина програмісту">Тварина програмісту</option>
                        <option value="Престарілим тварину">Престарілим тварину</option>
                      </select>
				    </div>
				    <div class="large-4 medium-4 small-12 columns">
				      <label>Тип допомоги</label>
				      <select id="type-select" class="large-font">
                        <option selected value="">Всі</option>
				        <option value="Матеріально">Матеріально</option>
                        <option value="Часом">Часом</option>
                        <option value="Кодом">Кодом</option>
                      </select>
				    </div>
          </div>
        <div class="row text-center">
            <a href="#" id="start-search" class="large radius success button" onclick="return false;">Знайти потрібні</a>
        </div>
    </form>

    <div id="results" class="row">
        <h3 class="columns">Знайдені програми</h3>
        <ul class="accordion" data-accordion role="tablist" id="projects-list">

          <li class="accordion-navigation">

            <a href="#panel1d" role="tab" id="panel1d-heading" aria-controls="panel1d">
                <div class="row">
                    <div class="columns large-6 medium-6 small-6">
                        <p class="no-bottom-margin">Project 1</p>
                    </div>

                    <div class="text-right large-6 medium-6 small-6 columns">
                        <p class="no-bottom-margin link-like">learn more and subscribe</p>
                    </div>
               </div>
            </a>

            <div id="panel1d" class="content" role="tabpanel" aria-labelledby="panel1d-heading">
               <p>Short description of this project what to do here?? i don't know...</p>
               <div>
                   <p>Project news:</p>
                   <table class="width-100 large-font">
                      <tbody>
                        <tr>
                          <td>23/12/20145</td>
                          <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                        </tr>
                        <tr>
                          <td>23/12/20145</td>
                          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                        </tr>
                        <tr>
                          <td>23/12/20145</td>
                          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                        </tr>
                      </tbody>
                    </table>
                </div>

               <div class="large-6 medium-6 small-12 large-centered medium-centered small-centered columns">
                   <input class="large-font" type="text" name="subscribe" placeholder="your email..." />
               </div>
                <div class="large-4 medium-6 small-10 large-centered medium-centered small-centered columns">
                   <a href="#" id="proj1sub" class="button radius expand large-font">Subscribe</a>
               </div>

            </div>

          </li>


        </ul>
    </div>
</div>

    <div id="footer" class="text-center"><h3 id="love"> Made with <i class="fi-heart large logo-icon"></i> at sqteam! </h3></div>


{% endblock %}

{% block bottom_scripts %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>

    <script>

    $(document).on("mouseenter mouseleave", ".accordion-navigation", function() {
            var id = $(this).data("id");
            $("#more"+id).toggle();
        });

    $(document).ready(function() {


        $("#start-search").click(function() {
            var prList = $("#projects-list");
            prList.empty();
            $.getJSON("/search", {
                location: $("#location-select").val(),
                topic: $("#topic-select").val(),
                help_type: $("#type-select").val()
            }, function(data) {
                $.each(data, function(index, value) {

                    var prNameDiv = $("<div />", {
                        class: "columns large-6 medium-6 small-6"
                    });

                    var prNameP = $("<p />", {
                        class: "no-bottom-margin",
                        text: value.name
                    }).appendTo(prNameDiv);

                    var prMoreDiv = $("<div />", {
                        class: "text-right large-6 medium-6 small-6 columns"
                    });

                    var prMoreP = $("<p />", {
                        class: "no-bottom-margin link-like",
                        id: "more"+index,
                        text: "Дізнатись докладніше"
                    }).appendTo(prMoreDiv);

                    var prRow = $("<div />", {
                        class: "row"
                    }).append(prNameDiv).append(prMoreDiv);

                    var prLi = $("<li />", {
                        class: "accordion-navigation",
                        "data-id": index
                    });

                    var prLink = $("<a />", {
                       href: "#panel"+index,
                       role: "tab",
                       "aria-controls": "panel"+index
                    }).append(prRow).appendTo(prLi);



                    var prPanel = $("<div />", {
                        id: "panel"+index,
                        class: "content",
                        role: "tabpanel",
                        "aria-labelledby": "panel"+index+"-heading",
                        text: "Inside me"
                    }).appendTo(prLi);

                    prList.append(prLi);
                });
            });
        })
    });
    </script>
{% endblock %}