{% extends "base_foundation.html" %}
{% load staticfiles %}

{% block whole_body %}
<div class="row">
      <div id="login-signup" class="large-offset-3 medium-offset-3 large-2 medium-2 small-5 columns">
        <a href="#" data-reveal-id="modal-login"><img src="{% static 'images/login.png' %}" alt="For login press on Volun Deer" /></a>
        <a class="margin-minus-9 large-font" href="#" data-reveal-id="modal-register">Зареєструйтеся!</a>
      </div>
      <div id="login-logout" class="large-offset-3 medium-offset-3 large-2 medium-2 small-5 columns text-center display-none margin-top-40">
        <h6 id="login-email"></h6>
        <a class=" large-font" href="/logout">Вийти</a>
      </div>

        <div id="modal-register" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
           <div class="row text-center">
               <h2>Привіт, ми раді новим знайомствам!</h2>
               <h5>Створивши акаунт, Ви зможете підписуватися на волонтерські проекти швидше, а також багато іншого.</h5>
           </div>
            <div class="row">
                <div class="alert-box alert radius display-none large-10 medium-10 small-12 large-centered medium-centered columns" id="signup-errors" data-alert class="alert-box" tabindex="0" aria-live="assertive" role="dialogalert"></div>
             </div>
           <form id="signup-form" class="uk-form" method="post" action="{% url 'signup' %}">
               {% csrf_token %}
               <div class="row">
                <div class="large-offset-3 large-6 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-2 large-1 columns">
                      <span class="prefix"><i class="fi-mail large"></i></span>
                    </div>
                    <div class="small-10 large-11 columns">
                      <input class="icon-font input-height" type="text" name="email" placeholder="Введіть ваш email">
                    </div>
                  </div>
                </div>
                </div>

                <div class="row">
                <div class="large-offset-3 large-6 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-2 large-1 columns">
                      <span class="prefix"><i class="fi-key large"></i></span>
                    </div>
                    <div class="small-10 large-11 columns">
                      <input class="icon-font input-height" type="password" name="password" placeholder="Придумайте гарний пароль">
                    </div>
                  </div>
                </div>
                </div>

                <div class="row text-center">
                   <a href="#" id="signup-button" class="button radius">Створити акаунт</a>
               </div>
           </form>

          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

        <div id="modal-login" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
           <div class="row text-center">
               <h2>Доброго дня!</h2>
           </div>
             <div class="row">
                <div class="alert-box alert radius display-none large-10 medium-10 small-12 large-centered medium-centered columns" id="login-errors" data-alert class="alert-box" tabindex="0" aria-live="assertive" role="dialogalert"></div>
             </div>
           <form id="login-form" class="uk-form" method="post" action="{% url 'login' %}">
               {% csrf_token %}
               <div class="row">
                <div class="large-offset-3 large-6 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-2 large-1 columns">
                      <span class="prefix"><i class="fi-mail large"></i></span>
                    </div>
                    <div class="small-10 large-11 columns">
                      <input class="icon-font input-height" type="email" name="username" placeholder="Ваш email">
                    </div>
                  </div>
                </div>
                </div>

                <div class="row">
                <div class="large-offset-3 large-6 columns">
                  <div class="row collapse prefix-radius">
                    <div class="small-2 large-1 columns">
                      <span class="prefix"><i class="fi-key large"></i></span>
                    </div>
                    <div class="small-10 large-11 columns">
                      <input class="icon-font input-height" type="password" name="password" placeholder="Пароль">
                    </div>
                  </div>
                </div>
                </div>

                <div class="row text-center">
                   <a href="#" id="login-button" class="button radius">Увійти!</a>
               </div>
           </form>

          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
        
      <div class="large-2 medium-2 small-5 large-centered medium-centered columns end margin-top-10">
        <a href="#" data-reveal-id="modal-login">
        <img id="deer" src="{% static 'images/logo_project.png' %}" alt="Volun Deer"/>
        </a>
      </div>
    </div>
     <div class="row margin-top-10">
        <div class="alert-box success radius display-none large-10 medium-10 small-12 large-centered medium-centered columns" id="signup-success" data-alert class="alert-box" tabindex="0" aria-live="assertive" role="dialogalert">
            Ви успішно зареєструвалися!
        <button href='#' tabindex='0' class='close' aria-label='Close Alert'>&times;</button>
        </div>
      </div>
    <h3 class="text-center margin-top-30">Пошук волонтерських програм:</h3>
    <form>
        <div class="row">
            <div class="large-4 medium-4 small-12 columns">
              <label>Розташування</label>
              <select id="location-select" class="large-font">
                <option selected value="">Всі</option>
                <option value="Київ">Київ</option>
                <option value="Вінниця">Вінниця</option>
                <option value="Львів">Львів</option>
              </select>
            </div>
				    <div class="large-4 medium-4 small-12 columns">
				      <label>Тематика програми</label>
				      <select id="topic-select" class="large-font">
                        <option selected value="">Всі</option>
				        <option value="Допомога престарілим">Допомога престарілим</option>
                        <option value="Допомога тваринам">Допомога тваринам</option>
                        <option value="Тварина програмісту">Тварина програмісту</option>
                        <option value="Престарілим тварину">Престарілим тварину</option>
                      </select>
				    </div>
				    <div class="large-4 medium-4 small-12 columns">
				      <label>Тип допомоги</label>
				      <select id="type-select" class="large-font">
                        <option selected value="">Всі</option>
				        <option value="Матеріально">Матеріально</option>
                        <option value="Часом">Часом</option>
                        <option value="Кодом">Кодом</option>
                      </select>
				    </div>
          </div>
        <div class="row text-center">
            <a href="#" id="start-search" class="large radius success button" onclick="return false;">Знайти потрібні</a>
        </div>
    </form>



    {% verbatim %}
    <script id="results-template" type="text/x-handlebars-template">
        {{#if projects }}
        <h3 class="columns">Знайдені програми</h3>
        <ul class="accordion" data-accordion role="tablist" id="projects-list">
            {{#each projects }}
            <li class="accordion-navigation" data-project-id="{{ this.id }}" >
                <a class="project-link" href="#panel{{@index }}" role="tab" id="panel{{@index }}-heading" aria-controls="panel{{@index }}" data-id="{{@index  }}">
                    <div class="row">
                        <div class="columns large-6 medium-6 small-6">
                            <p class="no-bottom-margin">{{ this.name }}</p>
                        </div>

                        <div class="text-right large-6 medium-6 small-6 columns">
                            <p class="no-bottom-margin link-like" id="more-{{@index }}">Дізнатись докладніше</p>
                        </div>
                   </div>
                </a>

                <div id="panel{{@index }}" class="content" role="tabpanel" aria-labelledby="panel{{@index }}-heading">
                    <p>{{ this.text }}</p>

                    <div class="news-block" id="news-for-{{ this.id }}"></div>
                    <form action="/subscribe/">
                        <div class="large-6 medium-6 small-12 large-centered medium-centered small-centered columns">
                           <input class="large-font" type="text" name="email" placeholder="Ваш e-mail" required />
                           <input type="hidden" name="project_id" value="{{ this.id }}" />
                        </div>
                        <div class="large-4 medium-6 small-10 large-centered medium-centered small-centered columns">
                           <a href="#" onclick="return false;" class="subscribe-button button radius expand">Підписатися</a>
                           <a href="#" class="subscribed-button disabled success button radius expand"><i class='fi-check icon-font'></i> Ви підписані</a>
                        </div>
                    </form>
                </div>

            </li>
            {{/each }}

        </ul>
        {{else }}
        <h3 class="columns">Немає благодійних програм за даними критеріями</h3>
        {{/if }}
    </script>

    <script id="news-template" type="text/x-handlebars-template">
    {{#if news }}
    <p>Новини проекту:</p>
    <table class="width-100 large-font">
        <tbody>
        {{#each news }}
        <tr>
            <td class="news-date">{{ this.date }}</td>
            <td>{{ this.text }}</td>
        </tr>
        {{/each }}
        </tbody>
    </table>
    {{else }}
        <p>Новин ще немає. Підпишіться і будьте першим, хто дізнається про події проекту</p>
    {{/if }}
    </script>
    {% endverbatim %}


    <div id="results" class="row">

    </div>

</div>

    <div id="footer" class="text-center"><h3 id="love"> Made with <i class="fi-heart large logo-icon"></i> at sqteam! </h3></div>


{% endblock %}

{% block bottom_scripts %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/handlebars.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>

    <script>

    $(document).on("mouseenter mouseleave", ".project-link", function() {
        var id = $(this).data("id");
        $("#more-"+id).toggle();
    });

    $(document).on("click", ".subscribe-button", function() {
        var form = $(this).closest("form");
        var url = form.attr("action");
        var csrftoken = $.cookie('csrftoken');
        $.ajax({
            url: url,
            method: "POST",
            data: form.serialize(),
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            },
            success: function() {
                form.find("input[name='email']").css("display", "none");
                form.find(".subscribe-button").css("display", "none");
                form.find(".subscribed-button").css("display", "block")
            }
        });
    });

    $(document).on("click", ".accordion-navigation", function() {
        var projectId = $(this).data("project-id");
        var prId = $(this).data("id");
        $.getJSON("/news/"+projectId, function(data) {
            var prNews = $("#news-for-"+projectId);
            var source = $("#news-template").html();
            var template = Handlebars.compile(source);
            var resHtml = template({news: data});
            prNews.html(resHtml);

        });
    });

    $(document).ready(function() {

        $("#start-search").click(function() {
            var prResults = $("#results");
            $.getJSON("/search", {
                location: $("#location-select").val(),
                topic: $("#topic-select").val(),
                help_type: $("#type-select").val()
            }, function(data) {
                var source = $("#results-template").html();
                var template = Handlebars.compile(source);
                var resHtml = template({projects: data});
                prResults.html(resHtml);
                $(document).foundation();
            });
        })

    });
    </script>
{% endblock %}